<div class="trillo-form" name="F" nm="F">
  <form data-container="">
    <div data-child-type="text" class="form-group">
      <label data-label="">Fist Name</label>
      <input data-input="" type="text" class="form-control" nm="fname">
    </div>
    <div data-child-type="text" class="form-group">
      <label data-label="">Last Name</label>
      <input data-input="" type="text" class="form-control" nm="lname">
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>