<div class="trillo-form" name="F1" nm="F1">
  <form data-container="">
    <div data-child-type="text" class="form-group">
      <label data-label="">Text_1</label>
      <input data-input="" type="text" class="form-control" nm="Text_1">
    </div>
    <div data-child-type="text" class="form-group">
      <label data-label="">Text_2</label>
      <input data-input="" type="text" class="form-control" nm="Text_2">
    </div>
    <div data-child-type="multi-select" class="form-group">
      <label data-label="">MultiSelect_1</label>
      <select multiple="" data-input="" class="form-control" nm="MultiSelect_1">
        <option>
          4
        </option>
        <option>
          2
        </option>
        <option>
          3
        </option>
      </select>
    </div>
    <div data-child-type="email" class="form-group">
      <label data-label="">Email_1</label>
      <input data-input="" type="email" class="form-control" nm="Email_1">
    </div>
    <div data-child-type="password" class="form-group">
      <label data-label="">Password_1</label>
      <input data-input="" type="password" class="form-control" nm="Password_1">
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>